.contacts {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100%;
    border-top: 1px solid #ffbbc6;
}
